.sagatown__nav {
    &-wrapper {
        width: 100%;

        .sub-menu {
            display: none !important;
        }
    }
}

.navbar-nav {
    .current_page_ancestor {
        text-decoration: underline;

        a {
            text-decoration: underline;
        }
    }

    .current_page_item {
        a {
            text-decoration: underline;
        }
    }

    .nav-link {
        color: $white !important;

        a {
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

